.extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.terms {
  display: flex;
  align-items: center;
}

.terms input {
  margin-right: 5px;
}
