@import "tailwindcss";
:root {
  --background: #112244;
  --foreground: #fff;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);--primary: #56dbc4;
  --secondary: #f999b7;
  --accent: #00bcd4;
  --text: #ffffff;
  --text-light: #e0e0e0;
  --font: 'Poppins', sans-serif;
  --radius: 16px;
  --transition: 0.3s ease;
  --accent-primary: #56dbc4;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #112244;
    --foreground: #fff;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);--primary: #56dbc4;
    --secondary: #f999b7;
    --accent: #00bcd4;
    --text: #ffffff;
    --text-light: #e0e0e0;
    --font: 'Poppins', sans-serif;
    --radius: 16px;
    --transition: 0.3s ease;
    --accent-primary: #56dbc4;
  }
}
