/* ========================= */
/* 🌍 Estilos Globales */
/* ========================= */

/* Variables */
:root {
  --primary: #56dbc4;
  --secondary: #f999b7;
  --accent: #00bcd4;
  --background: #112244;
  --text: #ffffff;
  --text-light: #e0e0e0;
  --font: "Poppins", sans-serif;
  --radius: 16px;
  --transition: 0.3s ease;
  --accent-primary: #56dbc4;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  font-family: var(--font);
  background: var(--background);
  color: var(--text);
  line-height: 1.5;
}

/* 🔹 Tipografía */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-light);
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color var(--transition);
}

a:hover {
  color: var(--accent);
}

/* 🔹 Inputs y formularios */
input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--radius);
  background: rgba(255, 255, 255, 0.1);
  color: var(--text);
  font-size: 14px;
  transition: var(--transition);
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--primary);
  background: rgba(255, 255, 255, 0.2);
  outline: none;
}


/* 🔹 Utilidades */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}