.botonesAccion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: -40px;
}

.btn {
  flex: 1;
  padding: 10px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btnPrimary {
  background-color: #56dbc4;
  color: #ffffff;
  border: 1px solid #56dbc4;
}

.btnPrimary:hover {
  background-color: #56dbc4;
}

.btnSecondary {
  background-color: #ff8cd3;
  color: #ffffff;
  border: 1px solid #ff8cd3;
}

.btnSecondary:hover {
  background-color: #ff8cd3;
}

@media (min-width: 300px) {
  .botonesAccion {
    flex-direction: row;
  }
}
