.carruselTexto {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 10px;
  min-height: 60px;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .carruselTexto {
    font-size: 16px;
  }
}
